# Ignore everything
*.txt
*.exe
*.filters
*.user
*.json
*.vsidx
*.suo
*.wsuo
*.db
*.ipch
*.tlog
*.ipdb
*.log
*.obj
*.pdb
*.7z
*.recipe
*.enc
*.iobj
*.ilk
*.idb
*.zip
*.sqlite
*.db-shm
*.db-wal
*.opendb
*.idx
*.dll
11C236*
*.ppt
*.pptx
*.tif
*.huf
*.png
*.jpg
*.huf
*.pak
